header {
  // background-image: url(../../images/banner-bg.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color: rgb(231, 214, 248);
  nav {
    position: fixed;
    width: 100%;
    background-color: rgb(149, 155, 255, 0.9);
    z-index: 2;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      max-width: 1000px;
      margin: 0 auto;
      @media only screen and (max-width: 991px) {
        padding: 0 10%;
      }
      // background-color: rgba(149, 155, 255, 0.9);
      img {
        width: 13%;
      }
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
        li {
          font-size: 10px;
          a {
            text-decoration: none;
            color: white;
          }
        }
        .dropdown {
          button {
            background-color: transparent;
            border: none;
            color: white;
            font-size: 10px;
          }
          .dropdown-menu {
            display: none;
            border-radius: 0;
            .dropdown-item {
              color: black;
            }
          }
          &:hover {
            .dropdown-menu {
              display: block;
            }
            .dropend {
              button {
                color: black;
              }
              .dropdown-menu {
                display: none;
              }
              &:hover {
                .dropdown-menu {
                  display: block;
                }
              }
            }
          }
        }
      }
      i {
        display: none;
      }
      @media only screen and (max-width: 768px) {
        ul {
          display: none;
        }
        i {
          display: block;
        }
      }
    }
  }
}
#add-edit {
  form {
    .submit {
      background-color: rgb(231, 214, 248);
      border: transparent;
      color: black;
      &:hover {
        background-color: rgb(197, 138, 255);
        color: white;
      }
    }
  }
}
