* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  header {
    font-weight: 300;
    .header-top {
      background-color: rgb(188, 81, 72);
      .container {
        padding: 1px 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          column-gap: 15px;
          li {
            a {
              font-size: 14px;
              color: black;
              text-decoration: none;
              &:hover {
                color: white;
                transition: 1s;
              }
            }
            .login {
              background-color: rgb(244, 178, 20);
              padding: 60% 10%;
            }
          }
        }
      }
    }
    nav {
      background-color: white;
      .container {
        padding: 1% 6%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
          display: none;
          @media only screen and (max-width: 767px) {
            display: block;
          }
        }
        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          column-gap: 10px;
          @media only screen and (max-width: 767px) {
            display: none;
          }
          li {
            a {
              color: gray;
              text-decoration: none;
            }
            .dropdown {
              &:hover {
                .dropdown-menu {
                  display: block;
                }
              }
              .dropdown-toggle {
                color: gray;
                background-color: white;
                border: transparent;
              }
              .dropdown-menu {
                display: none;
                li {
                  a {
                    color: black;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .slide {
    .carousel-inner {
      position: relative;
      .carousel-caption {
        position: absolute;
        top: 40%;
        left: 10%;
        .col-6 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
  }
  .main-section {
    .container {
      padding: 5px 5%;
      .row {
        padding: 10% 0;
        @media only screen and (max-width: 767px) {
          flex-direction: column;
          row-gap: 50px;
        }
        .col-5 {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          .bottom {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
          }
        }
        .col-7 {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
  .active-section {
    background-color: rgb(248, 249, 250);
    .container {
      padding: 8% 5%;
      .top {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        @media only screen and (max-width: 767px) {
          width: 100%;
        }
        h2 {
          font-weight: 400;
        }
        p {
          color: gray;
        }
      }
      .main {
        padding: 0 2%;
        .top {
          .search-div {
            @media only screen and (max-width: 767px) {
              flex-direction: column;
              width: 50%;
              margin: 0 auto;
              row-gap: 10px;
            }
            input,
            select {
              padding: 1% 5%;
              outline: none;
              border: none;
            }
          }
        }
        .row {
          box-sizing: border-box;
          .card {
            overflow: hidden;
            img {
              &:hover {
                transform: scale(1.1);
                transition: 1s;
              }
            }
            .bottom {
              padding: 8% 5%;
            }
          }
        }
      }
    }
  }
  .featured {
    .container {
      padding: 10% 5%;
      margin: 0 auto;
      .photos {
        .photo {
          overflow: hidden;
          position: relative;
          .text {
            position: absolute;
            right: 25%;
            bottom: 10%;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            display: none;
            z-index: 3;
          }
          img {
            &:hover {
              transform: scale(1.1);
              transition: 1s;
            }
          }
          &:hover {
            background-color: black;
            opacity: 0.5;
            z-index: 2;
            .text {
              display: flex;
            }
          }
        }
      }
    }
  }
  footer {
    a {
      text-decoration: none;
    }
  }
}
